
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";

}
}
<div class="sign_layout" id="displaysignin" data-aos="fade-right" data-aos-duration="1000">
    <div class="title_sign">
        <style>
            .confirm_space::after {
                content: "";
                position: absolute;
                background-color: #888;
                height: 2px;
                width: 0;
                left: 0;
                top: 25px;
                transition: .5s;
                border-radius: 10px;
            }

            .confirm_space::after {
                width: 100%;  
                color: red;
            }

            .confirm_space.fa-angle-down {
                transform: rotate(180deg);
                transition: .75s;
            }
        </style>
        <ul class="para_title">
            <li><a class="confirm_space" style="color: black;">Login</a></li>
            <li><a id="signin" class="confirm_space1">Register</a></li>
        </ul>
    </div>
    <div class="form_poc">
        @using (Html.BeginForm("Login", "Account", FormMethod.Post, new { @class = "form_edits" }))
        {
            @Html.AntiForgeryToken()
            <form class="form_edits">
                <div>
                    <p>USERNAME</p>
                    <input class="input_edits" name="username" />
                </div>
                <div class="space_input_login">
                    <p>PASSWORD</p>
                    <input class="input_edits" name="password" />
                </div>
                <div class="space_input_login">
                    <input class="btn_text_left" name="Signin" type="submit">
                    <a class="forget_pass">Fogret Password ?</a>

                </div>
            </form>
        }
    </div>
</div>

<script>
    AOS.init();
    $("#signin").click(function () {
        $("#displaysignin").load("Register", "Account");
    });
</script>