
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

<div class="container-fluid fix-padding--fluid">
    <div class="row">
        <div class="col-md-12" style="padding: 0">
            <div id="demo" class="carousel slide" data-ride="carousel">

                <!-- Indicators -->
             


                    <ul class="carousel-indicators">
                        <li data-target="#demo" data-slide-to="0" class="edit_surf"></li>
                        <li data-target="#demo" data-slide-to="1" class="edit_surf1"></li>
                        <li data-target="#demo" data-slide-to="2" class="edit_surf2"></li>
                    </ul>
            
                <!-- The slideshow -->
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="~/Content/Image/Homepage_Layouttest/casourel.jpg" alt="Los Angeles" class="carousel_bg"> <button class="btn_details_casourel">See More</button>
                    </div>
                    <div class="carousel-item">
                        <img src="~/Content/Image/Homepage_Layouttest/casourel.jpg" alt="Chicago" class="carousel_bg"> <button class="btn_details_casourel">See More</button>
                    </div>
                    <div class="carousel-item">
                        <img src="~/Content/Image/Homepage_Layouttest/casourel.jpg" alt="New York" class="carousel_bg">
                        <button class="btn_details_casourel">See More</button>
                    </div>
                </div>

                <!-- Left and right controls -->


            </div>
        </div>
    </div>
</div>

